.flag {
    width: 500px;
    background: url(../kisspng-product-design-line-angle-font-flag-ukraine-free-images-at-clker-com-vector-c-5ba9f641b38b01.7927966715378652817354.png);
    background-repeat: no-repeat;


    h1 {
        padding-top: 202px;
        color: red;
    }
}